* {
   margin: 0; 
   padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000915;
}

.top {
    min-height: 1024px;
    background-image: url(img/top.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    &_heading {
        padding-top: 217px;
        width: 788px;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
    }
    &_text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        width: 481px;
        margin-bottom: 12px;
    }
    &_content {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        gap: 32px;
    }

}

.button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: block;
    color: #FFFFFF;
    padding: 13px 74px;
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    box-sizing: border-box;
}

.menu_game {
    // min-height: 556px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    box-sizing: border-box;
    padding-top: 128px;
    padding-bottom: 128px;
    &_item {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;       
        display: flex;
        color: #FFFFFF;
        padding: 32px;
        min-height: 300px;
        width: 378px;
        box-sizing: border-box;
        border-radius: 18px;
        align-items: flex-end;
        &_1 {
            background-image: url(img/img1.jpg);
        }
        &_2 {
            background-image: url(img/img2.jpg);
        }
        &_3 {
            background-image: url(img/img3.jpg);
        }
    }
}
